@import "tailwindcss";

@theme {
  --color-primary-background: #273142;
  --color-cyan-400: #00E9FF;
  --color-cyan-500: #00E9FF;
  --color-cyan-600: #008C99;
  
  --bg-gradient-primary: linear-gradient(135deg, #00E9FF 0%, #008C99 100%);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, var(--color-cyan-500), var(--color-cyan-600));
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #00d5e6, #007a86);
}

body {
  @apply antialiased;
}